.login-form{
    background-color: #fff;
    padding: 40px 20px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
  &__inputs{
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  &__title{
    span{
      font-size: 20px;
    }
  }
}