.movement{
    &-form{        
        &__list{            
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        &__content{
            display: flex;
            justify-content: center;
            &__information{
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 20px;
                &__title{
                    font-size: 20px
                };
                &__email{}
            }
        }
    }
}