@import '~line-awesome/dist/line-awesome/css/line-awesome.min.css';
@import './login/main';
@import './movement/main';

.message{
    &__warning{
        color: sandybrown;
    }
}

.container{
    &__content{
        background-color: white;
    }
}

.listComponent{
    width: 50%;
    height: 250px;
    overflow-y: scroll;
    li{
        padding: 15px;
        list-style: none;
        border: 1px solid;
        border-radius: 3%;
        border-color: #d9dbdb;
        display: flex;
    }
}

.alerts{
    &__position{
        left: 35%;
        bottom: 90px;
    }
}